<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Real Time Products</title>
</head>
<body>
  <h1>Productos</h1>
  <ul id="product-list">
    {{#each products}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  
  <form id="add-product-form">
    <label for="product-name">Nombre del producto:</label>
    <input type="text" id="product-name" name="productName">
    <button type="submit">Agregar</button>
  </form>
  
  <form id="delete-product-form">
    <label for="delete-product">Eliminar producto:</label>
    <select id="delete-product" name="deleteProduct">
      {{#each products}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">Eliminar</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const productList = document.getElementById('product-list');
    const addProductForm = document.getElementById('add-product-form');
    const deleteProductForm = document.getElementById('delete-product-form');
    
    addProductForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const productName = document.getElementById('product-name').value;
      socket.emit('add product', productName);
      addProductForm.reset();
    });
    
    deleteProductForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const selectedProduct = document.getElementById('delete-product').value;
      socket.emit('delete product', selectedProduct);
      deleteProductForm.reset();
    });
    
    socket.on('update products', (products) => {
      productList.innerHTML = '';
      products.forEach(product => {
        const listItem = document.createElement('li');
        listItem.textContent = product;
        productList.appendChild(listItem);
      });
    });
  </script>
</body




